

.topContainer{

    width: 1250px;
    height:800px;
    position: center;
    overflow: hidden;
    margin: 0 auto;
    top:30px;
}

.topLeft{
    width: 800px;
    float: left;
    position:relative;
    padding: 30px;
    top:30px;
}

.topRight{
    width:400px;
    float:right;
    position:relative;
    padding:30px;
    top:30px;
}

.topMiddle{
    width:1000px;
    height:1000px;
    position:relative;
    padding:30px;
    top:30px;
    margin: 0 auto;
}

.topTable{
    width:950px;
    height:20000px;
    position:relative;
    padding:30px;
    top:30px;
    margin: 0 auto;
}

.smallleftContainer{
    width:450px;
    height: 450px;
    float: left;
    position:relative;
    padding:20px;
    text-align: center;
}
.smallrightContainer{
    width:450px;
    height: 450px;
    float: right;
    position:relative;
    padding:20px;
    text-align: center;
}

.button{
    width:600px;
    position:relative;
    float:inline-end;
    padding:10px;
    top:70px;
}
#box{
    background-color: aliceblue;
    border-style: revert;
    border-width:1.5px;
    border-radius: 12px;
    padding-top:30px;
}

@media (max-width:800px) {

.topContainer{

    width: 800px;
    height:2000px;
    position: center;
    overflow: hidden;
    margin: 0 auto;
    top:30px;
    }
.topLeft{
    width:700px;
    position:relative;
    float:left;
    padding:30px;
    top:30px;
    text-align: left;
}

.topRight{
    width:700px;
    position:relative;
    padding:30px;
    top: 60px;
    float:left;
}
#box{
    padding-top: 30px;
}

.topMiddle{
    width:700px;
    height:2200px;
    position:relative;
    padding:30px;
    top:30px;
    margin: 0 auto;
}


.smallleftContainer{
    width:600px;
    height: 520px;
    position:relative;
    text-align:center;
    padding:20px;
}
.smallrightContainer{
    width:600px;
    height: 520px;
    position:relative;
    text-align:center;
    float:left;
    padding:20px;
}
}