

.topContainer{

    width: 1250px;
    height:600px;
    position: center;
    overflow: hidden;
    margin: 0 auto;
    top:30px;
}

.topLeft{
    width: 800px;
    float: left;
    position:relative;
    text-align: left;
    padding: 30px;
    top:30px;
}

.topRight{
    width:400px;
    float:right;
    position:relative;
    text-align:left;
    padding:30px;
}


#box{
    background-color: aliceblue;
    border-style: revert;
    border-width:1.5px;
    border-radius: 12px;
    top:30px;
}
.pic{
    padding:5px;
    width:100px;
    height:100px;
}
@media (max-width:800px) {

.topContainer{

    width: 750px;
    height:2000px;
    position: center;
    overflow: hidden;
    margin: 0 auto;
    top:30px;
    }
.topLeft{
    width:650px;
    position:relative;
    float:left;
    padding:30px;
    top:30px;
    text-align: left;
}

.topRight{
    width:650px;
    position:relative;
    padding:30px;
    top:30px;
    float:left;
}
.pic{
    padding:5px;
    width:100px;
    height:100px;
}
}