
#topContainer{

    width: 1250px;
    position: center;
    overflow: hidden;
    margin: 0 auto;
}

#topLeft{
    width: 800px;
    float: left;
    position:relative;
    text-align: left;
    padding: 30px
}

#topRight{
    width:400px;
    float:right;
    position:relative;
    text-align:left;
    padding:30px
}

.bg{
    position:absolute;
    z-index: -1;
}

.box{
    background-color: aliceblue;
    border-style: revert;
    border-width:1.5px;
    border-radius: 12px;
}

#bgLeft{
    float:left;
    left:0;
    width: 850px;
    bottom:0;
    top:0px
}

#bgLeft{
    float:right;
    right:0;
    width:460px;
    bottom:0;
    top:0px
}
